MUSIC_DIR=/Users/yourname/path/to/mp3s
DB_PATH=/app/data/music.db
ACOUSTID_API_KEY=your_key_here
ADMIN_DB_ENABLED=false
MUSICBRAINZ_APP_NAME=rmus
MUSICBRAINZ_VERSION=1.0
MUSICBRAINZ_CONTACT=email@email.com
